<div class="col-10 m-3 mx-auto">
    <h1>
        Contact
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae impedit
        dolor alias vitae libero odit,
        saepe ullam architecto tempora provident similique itaque quaerat doloremque quam numquam praesentium ratione
        nobis laudantium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, dolores dolorum quia
        repellat molestias culpa odit fugit totam fugiat ipsum, fuga sequi temporibus, quae.rat inventore aspernatur
        ipsam corporis iusto praesentium
    </p>
</div>
<div class="container my-5">
    <div class="card p-4">
        <form>
            <div class="row mb-3">
                <label class="col-2 col-form-label"><b>Your E-mail</b></label>
                <div class="col-10">
                    <input type="email" class="form-control" placeholder="Your email">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-2 col-form-label"><b>Your message</b></label>
                <div class="col-10">
                    <textarea class="form-control" rows="3" placeholder="Please enter your message here..."></textarea>
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>